# Structure Learning Algorithms

CausalIQ Discovery aims to provide a wide range of different structure
learning algorithm classes: exact or approximate score-based, sampling,
constraint-based, hybrid, continuous optimisation and neural
network-based for example. They will initially include algorithms
supporting time-independent observational data, but will be extended to
include interventional and time-series data.

The algorithms are either implemented internally or as wrappers to open
source packages such as tetrad-jar, py-tetrad, causal-learn, gCastle,
tigrmite, cdt, pcalg, BiDAG etc. In either case, the focus will be on
adding features that allow knowledge to guide or constrain the structure
learning, and to produce trace diagnostics which explain the structure
learning process (these are the USPs of the CausalIQ Discovery package).

## Supported Algorithms

| Algorithm | Class | Package | Description |
|---|---|---|---|
{% for spec in algorithms %}
| [{{ spec.algorithm }}](algorithms/{{ spec.algorithm }}.md) | {{ spec.algorithm_class }} | {{ spec.package }} | {{ spec.description }} |
{% endfor %}
